/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #f5f5f5;
    max-width: 100%;
}
.logo img{
    width: 100px;
}
.logo h1 {
    font-size: 24px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
.search-cart{
    display: flex;
    border-radius: 10px;
    background-color: #ccc;
    align-items: center;
    width: 200px;
}
.search-cart input {
    padding: 5px;
    border: 0 ;
    background-color: #ccc;
    border-radius: 10px;
}
.search-cart input:focus{
    
    box-shadow: 0 0 0 #ccc;
    outline: none;
}
.search-cart img{
    width: 5%;
    padding: 5px;
}

.user-basket{
    display: flex;
    gap: 50%;
}
.user-basket img {
    width: 20px;
    height: 20px;
}
nav{
    display:  flex;
}
.nav-buttons{
    display: flex;
    justify-content: space-around;
    text-decoration: none; 
    align-items: end;
}
.nav-buttons button{
    padding: 0 20px;
    /* width: 100px; */
    border: 0;
    background-color: inherit;
    width: 100;
    border: 0;
    background-color: inherit;
    text-decoration: none;
}

.search-user button{
    /* width: 100px; */
    display: flex;
    margin: auto;
    margin-left: 50px;
    border: 0;
    background-color: inherit;
    width: 100;
    border: 0;
    background-color: inherit;
    text-decoration: none;
}

.search-user{
    display: flex;
}

.search-user .search-cart button{
    margin: 0;
}

/* footer */
.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #6b6969;
}
.footer-links a{
    padding: 15px;
}
.footer-social img{
    width: 30px;
    padding: 0 5px 0 5px;
}
.footer-social{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #474747;
}
.copy-right{
    display: flex;
    justify-content: center;
    padding: 20px;
}