.prod-info-descrption {
    margin-top: 60px;
    margin-left: 70px;
}
.prod-info-img {
    margin-top: 50px;
    margin-left: 50px; 
}
.biger-card {
    width: 300px; 
    height: 60%;
    margin-top: 75px;
    border-radius: 10px;
    margin-left: 150px;
}
.biger-card:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
}

.container{
    display: flex;
    width: 1280px;
    margin: 0 auto;}