body{
    margin: 0;
}
.product-categories{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 10px 10px 10px;
}
.product-categories a{
    padding: 10px;
}
.banner img{
    height: 70px;
}