/* color */





*{
    box-sizing: border-box;
}
body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
a{
    font-family: EB-Garamond;
    font-size: 16px;
    text-decoration: none;
    color: inherit; 
    position: relative;
    padding-right: 10px;
    transition: color 0.3s;
}

a:hover{ 
    color: #C50E12;
}
a::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 3px;
    width: 0;
    background-color: #C50E12;
    transition: width 0.3s ease, left 0.3s ease;
}
a:hover::before{
    width: 100%;
    left: 0;
}

.product-categories{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 10px 10px 10px;
}
.product-categories a{
    padding: 10px;
}
section img {
    width: 100%;      
    height: 75vh;     
    object-fit: cover;
}


.text1 {
    font-size: 24px;
    text-align: center;
    margin: 100px;
}
.card-item{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.card-list .card-item{
    list-style: none;
}
.card-list .card-item .card-link {
    width: 200px;
    height: 615px;
    display: block;
    background: #ffffff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
}

.card-list .card-item .card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.swiper-button-next {
    margin-right: 35px;
    color: #000;
  }
.swiper-button-prev {
    margin-left: 35px;
    color: #000;
}

.badge {
    font-size: large;
    font-family: EB-Garamond;
    margin-left: 15px;
}
.biger-section {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.biger-card img {
    width: 450px; 
    height: auto;
    border-radius: 20px;
    margin-left: 250px;
}

.biger-section h2 {
    font-size: 28px; 
    color: #333;
    font-weight: bold; 
    margin-top: -180px;
    margin-bottom: 10px;
    margin-left: 850px;
    text-align: center;
}

.biger-section p {
    font-size: 18px; 
    color: #666;
    text-align: center;
    margin-left: 850px;
    margin-bottom: 100px;
}
